html{
  font-family: "Merriweather", serif;
  box-sizing: border-box;
}

*, *::before, *::after{
  box-sizing: inherit;
}

h1{
  text-align:center;
  color:white;
  background-color: #cd5b34;
  font-weight: 400;
  padding:1rem;
  margin:0;
}

#cereal-heading{
  background-color:#d98156;
  display: block;
  text-align:center;
  font-weight: 400;
  color:white;
  width: 100%;
  margin: 0 auto;
  margin-top: 7rem;
  padding: 1rem;
}

#cereal{
  border: 2px solid grey;
  padding-bottom: 1rem;
}

#quinoa{
  border: 2px solid grey;
  padding-top: 1rem;


}

h2{
  text-align: center;
}

header{
  display: block;
  font-weight: 400;
  color:white;
  margin:0;
}

nav a{
  width: 33.33%;
  display:block;
  float: left;
  padding: 0.5em 0.75em;
  background-color: #cd5b34;
  text-decoration: none;
  color:white;
  margin-bottom: 0.7rem;
  border: 0.1rem solid #a33f3a;
}

nav a:hover{
  background-color: #a33f3a;
}

nav{
    text-align:center;
    margin:0;
    padding:0;

}

nav ol{
  list-style-type:none;
  padding: 0;
  margin: 0;
}

nav li{
  padding: 0;
  margin: 0;
}

strong{
  color: white;
  text-align: center;
  width: 50%;
  display: inline-block;
}
#corn-label{
  width: 100%;
  padding-bottom: 2rem;
}

footer{
  font-weight: 400;
  color:#e2ad99;
  background-color: #cd5b34;
  padding: 1rem;
  text-align: center;
  margin:0;
}

#rice-pic{
  width: 50%;
  float: left;
}

#oat-pic{
  width: 50%;
  float: right;
}

.cereals{
  background-color:#d98156;
  margin-top: 1rem;
}

.small-left{
  padding-left: 0.5rem;
  width: 25%;
  margin-left: 0;
  clear: right;
}
.snap-text{
  display: inline-block;
  float: right;
}

.inset-left{
  float:left;
  width:40%;
  margin-right: 15px;
  clear: left;
  padding-left:1rem;
}

.inset-right{
float: right;
  width:35%;
  clear: right;


}

.center{
  width: 100%;
  margin: 0 auto;
}

.vec-small-l{
  width: 2rem;
  float: left;
}

.vec-small-r{
  width: 2rem;
  float:right;
}
